:root {
    --background-color: white;
    --color: #333;
    --accent-color: #08c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --color: #fafafa;
        --accent-color: #8cd5ff;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: Inter, "Open Sans", sans-serif;
}

::selection {
    background-color: rgba(140, 213, 255, 0.3);
    color: rgb(0, 46, 153);
    text-shadow: none;
}

a {
    color: var(--accent-color);
    fill: var(--accent-color);
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h2 {
    font-weight: 300;
    font-size: 18pt;
}
