:root {
    --background-color: white;
    --color: #333;
    --accent-color: #3689e6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --color: #fafafa;
        --accent-color: #8cd5ff;
    }
}

::selection {
    background-color: rgba(140, 213, 255, 0.3);
    color: rgb(0, 46, 153);
    text-shadow: none;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    display: grid;
    font-family: Inter, "Open Sans", sans-serif;
    font-size: 9pt;
    justify-content: center;
    margin: 12px;
    text-align: center;
}

.main {
    align-content: space-between;
    display: grid;
    grid-row-gap: 24px;
    height: 100vh;
    max-width: 50ch;
}

.header {
    display: grid;
    grid-row-gap: 12px;
    justify-content: center;
}

.custom-bin {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 6px;
}

a {
    color: var(--accent-color);
    fill: var(--accent-color);
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: underline;
}

h2,
p {
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 18pt;
}

img {
    justify-self: center;
    margin-top: 6px;
}
